{#- Macros -#}

{#- Cette fonction permet de traverser récursivement les question -#}

{%- macro markQuestions(replyPathUuids, question, questionString) -%}

    {%- if question["questionType"] == "ListQuestion" -%}
        {{- "\"" + questionString + "\"," + "\"" + question["title"] + "\"" + "\n" -}}
        {%- set reply = repliesMap[replyPathUuids | reply_path]["value"] -%}
        {%- set k = namespace(value = 0) -%}

        {%- for questionUuid in reply["value"] -%}
            {%- set l = namespace(value = 1) -%}
            {%- for subQuestionUuid in question["itemTemplateQuestionUuids"] -%}
                {%- set subQuestion = km.entities.questions[subQuestionUuid] -%}
                {{- replyPathUuids.append(questionUuid) or "" -}}
                {{- replyPathUuids.append(subQuestionUuid) or "" -}}

                {{- markQuestions(replyPathUuids, subQuestion, questionString + "_" + l.value | string) -}}

                {{- replyPathUuids.remove(questionUuid) or "" -}}
                {{- replyPathUuids.remove(subQuestionUuid) or "" -}}

                {%- set l.value = l.value + 1 -%}
            {%- endfor -%}
            {%- set k.value = k.value + 1 -%}
        {%- endfor -%}
    {%- elif question["questionType"] == "OptionsQuestion" -%}
        {{- "\"" + questionString + "\"," + "\"" + question["title"] + "\"" + "\n" -}}
        {%- set reply = repliesMap[replyPathUuids | reply_path]["value"] -%}

        {%- set answerUuid = reply["value"] -%}

        {%- set followUpUuids = km.entities.answers[answerUuid].followUpUuids -%}

        {%- set k = namespace(value = 1) -%}

        {%- for followUpUuid in followUpUuids -%}
            {%- set subQuestion = km.entities.questions[followUpUuid] -%}

            {{- replyPathUuids.append(answerUuid) or "" -}}
            {{- replyPathUuids.append(followUpUuid) or "" -}}

            {{- markQuestions(replyPathUuids, subQuestion, questionString + "_" + k.value | string) -}}

            {{- replyPathUuids.remove(answerUuid) or "" -}}
            {{- replyPathUuids.remove(followUpUuid) or "" -}}

            {%- set k.value = k.value + 1 -%}
        {%- endfor -%}
    {%- else -%}
        {{- "\"" + questionString + "\"," + "\"" + question["title"] + "\"" + "\n" -}}
    {%- endif -%}
{%- endmacro %}

{#- Body of the script -#}

{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaireReplies -%}

{%- set i = namespace(value = 1) -%}
{%- for chapterUuid in km.chapterUuids -%}
    {% set j = namespace(value = 1) %}
    {%- for questionUuid in km.entities.chapters[chapterUuid].questionUuids -%}
        {%- set question = km.entities.questions[questionUuid] -%}
        {{- markQuestions([chapterUuid, questionUuid], question, "q" + i.value | string + "_" + j.value | string) -}}
        {%- set j.value = j.value + 1 -%}
    {%- endfor -%}
    {%- set i.value = i.value + 1 -%}
{%- endfor -%}