{#- Macros -#}

{#- Cette fonction permet de traverser récursivement les question -#}

{%- macro markQuestions(replyPathUuids, question, questionString) -%}

    {%- if question["questionType"] == "ListQuestion" -%}

        {%- set reply = repliesMap[replyPathUuids | reply_path]["value"] -%}

        {%- for questionUuid in reply["value"] -%}
            {%- set i = namespace(value = 1) -%}
            {%- for subQuestionUuid in question["itemTemplateQuestionUuids"] -%}
                {%- set subQuestion = km.entities.questions[subQuestionUuid] -%}
                {{- replyPathUuids.append(questionUuid) or "" -}}
                {{- replyPathUuids.append(subQuestionUuid) or "" -}}

                {{- markQuestions(replyPathUuids, subQuestion, questionString + "_" + i.value | string) -}}

                {{- replyPathUuids.remove(questionUuid) or "" -}}
                {{- replyPathUuids.remove(subQuestionUuid) or "" -}}

                {%- set i.value = i.value + 1 -%}
            {%- endfor -%}
        {%- endfor -%}
    {%- elif question["questionType"] == "OptionsQuestion" -%}
        {{- "\"" + questionString + "\"," -}}
        {%- set reply = repliesMap[replyPathUuids | reply_path]["value"] -%}

        {%- set answerUuid = reply["value"] -%}

        {%- set followUpUuids = km.entities.answers[answerUuid].followUpUuids -%}

        {%- if followUpUuids|length > 1 -%}
            {%- set i = namespace(value = 1) -%}
            {%- for followUpUuid in followUpUuids -%}
                {%- set subQuestion = km.entities.questions[followUpUuid] -%}

                {{- replyPathUuids.append(answerUuid) or "" -}}
                {{- replyPathUuids.append(followUpUuid) or "" -}}

                {{- markQuestions(replyPathUuids, subQuestion, questionString + "_" + i.value | string) -}}

                {{- replyPathUuids.remove(answerUuid) or "" -}}
                {{- replyPathUuids.remove(followUpUuid) or "" -}}

                {%- set i.value = i.value + 1 -%}
            {%- endfor -%}
        {%- endif -%}
    {%- else -%}
        {{- "\"" + questionString + "\"," -}}
    {%- endif -%}
{%- endmacro %}

{%- macro valuesOfQuestions(replyPathUuids, question) -%}
    {%- set reply = repliesMap[replyPathUuids | reply_path]["value"] -%}

    {%- if question["questionType"] == "ListQuestion" -%}
        {%- for questionUuid in reply["value"] -%}
            {%- for subQuestionUuid in question["itemTemplateQuestionUuids"] -%}
                {%- set subQuestion = km.entities.questions[subQuestionUuid] -%}
                {{- replyPathUuids.append(questionUuid) or "" -}}
                {{- replyPathUuids.append(subQuestionUuid) or "" -}}

                {{- valuesOfQuestions(replyPathUuids, subQuestion) -}}

                {{- replyPathUuids.remove(questionUuid) or "" -}}
                {{- replyPathUuids.remove(subQuestionUuid) or "" -}}
            {%- endfor -%}
        {%- endfor -%}
    {%- elif question["questionType"] == "OptionsQuestion" -%}
        {{- "\"" + km.entities.answers[reply["value"]].label + "\"," -}}
        {%- set answerUuid = reply["value"] -%}

        {%- set followUpUuids = km.entities.answers[answerUuid].followUpUuids -%}

        {%- for followUpUuid in followUpUuids -%}
            {%- set subQuestion = km.entities.questions[followUpUuid] -%}
            {{- replyPathUuids.append(answerUuid) or "" -}}
            {{- replyPathUuids.append(followUpUuid) or "" -}}

            {{- valuesOfQuestions(replyPathUuids, subQuestion) -}}

            {{- replyPathUuids.remove(answerUuid) or "" -}}
            {{- replyPathUuids.remove(followUpUuid) or "" -}}
        {%- endfor -%}
    {%- else -%}
        {{- "\"" + reply["value"] + "\"," -}}
    {%- endif -%}
{%- endmacro -%}

{#- Body of the script -#}

{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaireReplies -%}

{%- set i = namespace(value = 1) -%}
{%- for chapterUuid in km.chapterUuids -%}
    {% set j = namespace(value = 1) %}
    {%- for questionUuid in km.entities.chapters[chapterUuid].questionUuids -%}
        {%- set question = km.entities.questions[questionUuid] -%}
        {{- markQuestions([chapterUuid, questionUuid], question, "q" + i.value | string + "_" + j.value | string) -}}
        {%- set j.value = j.value + 1 -%}
    {%- endfor -%}
    {%- set i.value = i.value + 1 -%}
{%- endfor -%}

{{- "\n" -}}

{%- for chapterUuid in km.chapterUuids -%}
    {%- for questionUuid in km.entities.chapters[chapterUuid].questionUuids -%}
        {%- set question = km.entities.questions[questionUuid] -%}
        {{- valuesOfQuestions([chapterUuid, questionUuid], question) -}}
    {%- endfor -%}
{%- endfor -%}