{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaireReplies -%}

{%- for chapterUuid in km["entities"]["chapters"] -%}
    {{ km["entities"]["chapters"][chapterUuid]["title"] }};
    {%- for questionUuid in km["entities"]["chapters"][chapterUuid]["questionUuids"] -%}
        {%- set question = km["entities"]["questions"][questionUuid] -%}
        {{ question["title"] + ";" }}
    {%- endfor -%}
        {{ "\n;" }}
    {%- for questionUuid in km["entities"]["chapters"][chapterUuid]["questionUuids"] -%}
        {%- set reponse = repliesMap[chapterUuid + "." + questionUuid]["value"] -%}
        {%- if reponse["type"] == "StringReply" -%}
            {{- reponse["value"] + ";"-}}
        {%- elif reponse["type"] == "MultiChoiceReply" -%}
        {%- elif reponse["type"] == "AnswerReply" -%}
            {{- reponse["value"] + ";"-}}
        {%- endif -%}
    {%- endfor -%}
    {{ "\n" }}
{%- endfor -%}